.profilo-card {
  background: linear-gradient(to top, #fff6f6, #ffe9e7);
  border: none;
  border-radius: 20px;
}

.profilo-avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #dc3545;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.badge-avatar-add {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  background-color: #dc3545;
  color: white;
  transition: background-color 0.3s, transform 0.3s;
}

.badge-avatar-add:hover {
  background-color: #ff4659;
  transform: scale(1.1);
}

.badge-avatar-remove {
  position: absolute;
  top: 10px;
  left: -40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  border: 1px solid #212529;
  transition: background-color 0.3s, transform 0.3s;
}

.badge-avatar-remove:hover {
  background-color: #212529;
  color: white;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .profilo-avatar {
    width: 150px;
    height: 150px;
  }
  .badge-avatar-remove {
    left: -20px;
  }
}

.avatar-preview-modal-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

input[type="file"] {
  display: none;
}

.profilo-nome {
  font-size: 2rem;
  color: #c12746;
}

.prenotazione-card {
  background-color: #fff;
  border-radius: 15px;
  transition: transform 0.3s ease;
  padding: 10px 10px;
}

.prenotazione-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.prenotazione-card .card-title {
  color: #c12746;
  font-weight: bold;
}

.prenotazione-card p {
  font-size: 0.95rem;
  color: #495057;
}
